.plansScreen-plan {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    opacity: 0.8;
}

.plansScreen-plan:hover {
    cursor: pointer;
    opacity: 1;
}

.plansScreen-plan > button {
    background-color: #e50014;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 0.9rem;
    font-weight: 500;
    cursor: pointer
}

.plansScreen-plan--disabled > button {
    background-color: gray !important;
}